# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [3]:
number = 6 
print(number)

6

##### Assinging float

In [4]:
num_float = 2.3

print(num_float)

2.3

#### Performing Calculations on ints and floats

##### Addition

In [6]:
num1 = 2
num2 = 5.4

result = num1 +num2

print(result)
result += 2 #result = result +2
print(result)

7.4
9.4

##### Subtraction

In [7]:
result_diff = num2 - num1
print(result_diff)

result_diff -= 1 #result = result - 1
print(result_diff)

3.4000000000000004

##### Multiplication

In [9]:
result_mul = num1* num2
print(result_mul)

result_mul *= 2
print(result_mul)

10.8
21.6

##### Division

In [10]:
result_div = num2/num1
print(result_div)

result_div /= 2
print(result_div)

2.7
1.35

##### Floor Division

In [11]:
result_floor = num2 // num1

print(result_floor)

2.0

##### Modulo

In [12]:
result_mod = num2 % num1

print(result_mod)

1.4000000000000004

##### Exponential

In [13]:
square = 5 **2 
print(square)

25

### String Input-Output

##### String Assignment

In [14]:
name = "Celeste"

print(name)

Celeste

##### print() <br>
<p>Don't forget about end=' '</p>

In [17]:
print("This is my first name:", name)

print("Full name", name, end=" Barrios")

This is my first name: Celeste
Full name Celeste Barrios

##### String Concatenation

In [18]:
first_name = "John"
last_name = "Smith"

full_name = first_name + " " +last_name
print(full_name)

John Smith

##### Type Conversion

In [23]:
number = "32"

float_string = 3.14

change_type_float = float(number)
change_type_float +=5.5
print(change_type_float)

change_type_int = int(number)
change_type_int += 5.5
print(change_type_int)

change_float_string = float(float_string)
change_int_string = int(float_string)
print(change_float_string)
print(change_int_string)

37.5
37.5
3.14
3

##### input()

In [26]:
 # this is a single comment
age = int(input("whats ur age"))
print(age)

add_age = age + 1
print(add_age)

whats ur age23
23
24

##### format()

In [28]:
# ask user for age
age = input("what is ur age")

result_string ="you are {} and you are getting old".format(age)
print(result_string)

result_again = f"{age} is a great time!!"
print(result_again)

what is ur age23
you are 23 and you are getting old
23 is a great time!!

##### Old Way (python 2)

In [30]:
# using the % sign to format strings in python 2
# %d = digit, %s = string, %i = int 
result_string2 = "you are %s and you look great for your age" %age
print(result_string2)

you are 23 and you look great for your age

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [11]:
color = input("car color? ")
year= input("year? ")
make= input("make? ")
model = input("mode? ")
res_details = (color, year, make, model) 
result_d = f"so let me get this right? You want a {year}, {make}, {model}?"

print(result_d)
# print("Details ", res_details)

car color? dfsvsdfsdf
year? hames
make? kein
mode? leon
so let me get this right? You want a hames, kein, leon?

### If Statements

In [1]:
num1 = 5
num2 = 10

if num2 == num1:
    print("equal vals")
else:
    print("not equal")
if num2 >= num1:
    print("Num2 is greater")
#greater> less< equal== greater or equal >= less or equal <=
#truth tree:
#T && F = F
#T && T =T
#T // F = T
#F // T = T
#F // F = F

not equal
Num2 is greater

'is' keyword

In [6]:
# use is when checking for same object, not same value
num3 = 55
if num3 is 55:
    print("this is the number")
    
demo_phrase="test"
if "M" is demo_phrase:
    print("Correct")
else:
    print("not correct")

this is the number
not correct

##### 'in' keyword

In [7]:
# check if char in name
char_name = "Max Payn"
if "max" in char_name:
    print("the character who lost everything...")

##### 'not in' keyword'

In [10]:
sega_char = "Sonic"

if 'a' not in sega_char:
    print("a is NOT here...")

a is NOT here...

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [3]:
pstuff = input("enter input:")

if "p" in pstuff:
    print("p not found")
else:
        print("p not found")

enter input:vfsg
p not found

## Using 'and'/'or' with If Statements

In [2]:
# when using 'and' keyword, checks to see if true and true
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

#if with and statemnt
if num_11/5==num_12 and num_13 - 7 == num_14:
    print("True and True")
#if with or statement 
if num_11>num_12 or num_13 == num_14:
    print("True and False")

True and True
True and False

### Elif Statements

In [5]:
first_name = "max"
if first_name=="smith":
    print("the sname is smith")
elif first_name != "max":
    print("the name is not max")
else:
    print("the name is max")

the name is max

### Else Statements

In [ ]:
# see above

### For Loops

In [6]:
# for keyword, counter, in keyword, condition

# for i in range(10):
#     print(i)

name="Joel Carter"

for letter in name:
    print(letter)

J
o
e
l

C
a
r
t
e
r

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [7]:
for i in range(20):
    if i ==5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [12]:
for i in range(20):
    if i ==5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
for i in name:
    pass # TODO: Come back and finish implementation

##### Double For Loops

In [14]:
for i in range(5):
    for j in range(5):
        print("i= ", i, "j = ", j)

i=  0 j =  0
i=  0 j =  1
i=  0 j =  2
i=  0 j =  3
i=  0 j =  4
i=  1 j =  0
i=  1 j =  1
i=  1 j =  2
i=  1 j =  3
i=  1 j =  4
i=  2 j =  0
i=  2 j =  1
i=  2 j =  2
i=  2 j =  3
i=  2 j =  4
i=  3 j =  0
i=  3 j =  1
i=  3 j =  2
i=  3 j =  3
i=  3 j =  4
i=  4 j =  0
i=  4 j =  1
i=  4 j =  2
i=  4 j =  3
i=  4 j =  4

### While Loops

In [15]:
# based on a conditional statement
num=0

while num <= 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9
10

##### Looping 'While True'

In [17]:
game_over = False

while True:
    print("infinite loop")
    if game_over == False: #must have a BASE CASE
    #to break out of the loop
        break

infinite loop

##### While & For Loops Used Together

In [2]:
num = 0

while num <5:
    print("while loop iteration: "+str(num))
    
    for i in range(2):
        print ('for loop iteration: ', str(i))
    num += 1

while loop iteration: 0
for loop iteration:  0
for loop iteration:  1
while loop iteration: 1
for loop iteration:  0
for loop iteration:  1
while loop iteration: 2
for loop iteration:  0
for loop iteration:  1
while loop iteration: 3
for loop iteration:  0
for loop iteration:  1
while loop iteration: 4
for loop iteration:  0
for loop iteration:  1

### Built-In Functions

##### range()

In [3]:
# start, stop, step
for i in range(0,20,2):
    print(i)

0
2
4
6
8
10
12
14
16
18

##### len()

In [4]:
# check length of variable
name = "max"
length=len(name)
print(length)

3

##### help()

In [5]:
# to view more information on a python function
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [2]:
# isinstance(var, type)
print(isinstance(4.5,float))
    
if isinstance(4.5,float):
    print("this is a float type")

True
this is a float type

##### abs()

In [3]:
# | 5 |
print(abs(-5))

5

### Try and Except

In [6]:
# use whenever you expect to encounter a bug so that the error doesn't cause the program to stop
try:
    number_test = 0
    input_num=int(input('guess a num: '))
    if input_num != number_test:
        input_Num = input_num+number_test
        print("ur # is "+str(input_num))
        
except:
    print("that didnt work ERROR")

guess a num: p
that didnt work ERROR

### Lists

##### Declaring Lists

In [10]:
list = [] #empty list declare

names = ["Max","Cindy","Kathy", 'Bob']
print(names)

['Max', 'Cindy', 'Kathy', 'Bob']

##### Indexing a List

In [17]:
# [-1], [start: stop: step]
#print at 1 going to end
print(names[1:])

#print starting at top of list too the second index

print(names[:2])

#reverse

print(names[::-1])

#print starting at index 1 goes up by 2 each iteration

print(names[1::2])

['Cindy', 'Kathy', 'Bob']
['Max', 'Cindy']
['Bob', 'Kathy', 'Cindy', 'Max']
['Cindy', 'Bob']

##### .append()

In [19]:
names.append("celeste")
print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'celeste', 'celeste']

##### .insert()

In [20]:
# list.insert(index, value)
names.insert(3,"Jimmy")
print(names)

['Max', 'Cindy', 'Kathy', 'Jimmy', 'Bob', 'celeste', 'celeste']

##### .pop()

In [21]:
# default last, param = index
# pop returns the element that was removed in case you want to assign it into a variable
names.pop(4)
print(names)

['Max', 'Cindy', 'Kathy', 'Jimmy', 'celeste', 'celeste']


##### .remove()

In [22]:
# value to be removed, not index
#only lists specifically
names.remove("celeste")
print(names)

['Max', 'Cindy', 'Kathy', 'Jimmy', 'celeste']

##### del()

In [23]:
# index to be removed, not value
# be careful with del, can cause indexing errors
#global function
del(names[4])
print(names)

['Max', 'Cindy', 'Kathy', 'Jimmy']

##### Concatenating Two Lists

In [26]:
# will append two lists together, not add up elements in each list
l_1=[0,1,2]
l_2=[3,4,5]

large_list = l_1+l_2
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [31]:
# lists are able to hold any type of elements, including lists themselves
# they can also go as deep as you want, having many lists inside of each other

names = ["max","sam","josh",["sally","sue","tameka"]]
print(names[3][1])
print(names)

sue
['max', 'sam', 'josh', ['sally', 'sue', 'tameka']]

##### Looping Through Lists

In [32]:
# two ways to loop through a list, one is by index, the other is using the 'in' keyword
#loop with a for loop (by index)
for i in range(len(names)):
        print(names[i])

max
sam
josh
['sally', 'sue', 'tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000, so if the cubed number is over 1000 break the loop.</p>

In [9]:
import math
num = 0
result = num**3
while result <= 1000:
    print(result)
    num = num + 1
    result = num**3

0
1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first 100 Prime Numbers</p>

In [24]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

i =0
for num in range(2,1001):
    for i in range(2,num):
        if((num%i)==0):
            break
    else:
        i+=1
        print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [54]:
age = int(input("what is your age?"))
adult = int
seniors = int
if age<18:
    print('kid')
if age>17 and age <= 65:
    print('adult')
if age>65:
    print('senior')

what is your age?-7
kid